// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

@font-face
	font-family: 'icomoon'
	src: url('../fonts/icomoon.eot')
	src: url('../fonts/icomoon.eot') format('embedded-opentype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype'),
	font-weight: normal
	font-style: normal
=icon
	font-family: 'icomoon'
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

@font-face
	font-family: 'WebSymbolsLigaRegular'
	src: url('../fonts/websymbolsligaregular.eot')
	src: url('../fonts/websymbolsligaregular.eot?#iefix') format('embedded-opentype'), url('../fonts/websymbolsligaregular.woff') format('woff'), url('../fonts/websymbolsligaregular.ttf') format('truetype'), url('../fonts/websymbolsligaregular.svg#WebSymbolsRegular') format('svg')
@font-face 
	font-family: 'ALS Rubl'
	font-style: normal
	font-weight: normal
	src: local('ALS Rubl'), url('../fonts/rouble.woff') format('woff')
=rub
	font-family: 'ALS Rubl' 
=glyph
	font-family: 'WebSymbolsLigaRegular'


+font(ProximaNovaBold, ProximaNovaBold)  
=bold
	font-family: "ProximaNovaBold", Arial, sans-serif 
+font(ProximaNovaExtrabold, ProximaNovaExtrabold)  
=ebold
	font-family: "ProximaNovaExtrabold", Arial, sans-serif 
	
+font(ProximaNovaRegular, ProximaNovaRegular)  
=reg
	font-family: "ProximaNovaRegular", Arial, sans-serif 
	
+font(ProximaNovaLight, ProximaNovaLight)  
=light
	font-family: "ProximaNovaLight", Arial, sans-serif 

=pt
	font-family: 'PT Serif', Arial, serif

$light: #f1f3f2
$dark: #303331
$green: #7cc24d
$orange: #f38a3c
$yellow: #e0ce90
$violet: #ca96ba
$blue: #9db2c3
$rose: #ea8bff
$gray: #ddd
$mint: #87d18f
html
	+selection
		background: rgba($green, .7) 
		color: #000 
+keyframes(header)
	0% 
		top: -50px
	10%
		top: 0px
body
	font-size: 18px 
	line-height: 1.3
	+pt
	font-weight: 400
	background: $light 
	min-width: 320px
	&.is-fixed-header
		.out
			padding-top: 60px
			+r(1023)
				padding-top: 50px
		.header
			position: fixed
			left: 0
			top: 0
			right: 0
			z-index: 10
			+animation-name(header)
			+animation-duration(4s)
			+gpu
			.container
				min-height: 60px
				+r(1023)
					min-height: 50px
			.row
				&:first-child
					display: none
			.logo
				height: 60px
				+r(1023)
					height: 50px
				&:before,
				&:after,
				&__text,
				.icon-logo
					display: none
				.icon-logo-small
					display: inline-block
			.cart
				width: 115px
				text-align: center
				&__title
					display: none
			.dropdown
				margin-right: 0
		.menu
			position: fixed
			top: 60px
			height: 100% 
			max-height: 100%
			overflow-y: auto
			+r(1023)
				top: 50px
		.nav
			+r(1023)
				top: 50px
		.btn-menu
			+r(1023)
				height: 50px
		.cart
			+r(1023)
				height: 50px
				line-height: 50px
		.icon-logo-small
			+r(1023)
				margin-top: 11px
				font-size: 30px
.out
	margin: 0 auto -304px
	min-height: 100%
	height: auto !important
	height: 100%
	+r(1023)
		margin-bottom: -487px 
	+r(767)
		margin-bottom: 0
	&:after
		content: ""
		display: block 
		clear: both
		height: 304px
		+r(1023)
			height: 487px
		+r(767)
			display: none
a
	text-decoration: none
// common blocks    
.row-xs_flex
	+r(767)
		+display-flex
		+flex-direction(column)
	.order-2
		+r(767)
			+order(2)
	.order-1
		+r(767)
			+order(1)
.out
	+r(1023)
		padding-top: 100px
.container
	//max-width: 970px
	&_no-pad
		padding: 0
		+r(1023)
			padding: 0 15px 
.title
	font-size: 11px
	text-transform: uppercase
	color: #3c3d41
	letter-spacing: 2px  
	min-height: 14px
	+bold
	&_white
		color: #fff 

.glyph
	+glyph
	font-style: normal

.title-h1
	margin-bottom: 30px
	font-size: 36px
	color: #3c3d41
	+ebold
	line-height: 1
	letter-spacing: -.4px
	+r(767)	
		margin-bottom: 18px
		font-size: 22px
.title-h2
	margin: 0 0 40px 
	font-weight: 400
	font-size: 32px
	color: #3b3d40
	line-height: 1.3
	letter-spacing: -.4px   
	+r(767)
		margin-bottom: 20px
		font-size: 22px
.meta
	display: block
	font-size: 12px
	line-height: 1.2
	color: #838c8d 
	&_it
		font-style: italic
		
.text
	margin: 40px 0
	font-size: 18px
	color: #666d70
	line-height: 1.5
	+r(767)
		font-size: 14px
		margin: 12px 0 
	&_border
		position: relative
		padding-top: 45px
		&:before
			content: ""
			position: absolute
			top: 0
			left: 50%
			margin-left: -290px
			height: 1px
			width: 580px
			background: $gray
			+r(640)
				width: 80%
				margin-left: -45%
.btn-wrap
	text-align: center
.btn
	display: inline-block
	padding: 19px 20px 17px
	min-width: 230px
	background: #3CA773
	border-radius: 5px
	color: #fff
	text-transform: uppercase
	+bold
	font-size: 11px
	letter-spacing: 2px 
	line-height: 1 
	text-align: center
	+transition(background, opacity, .3s)
	&:hover
		background: #76c19d
		opacity: 0.7 

.btn-simple
	display: inline-block
	padding: 19px 20px 17px
	border: 1px solid $gray
	min-width: 230px
	background: #fff
	border-radius: 5px
	color: #3c3d41
	text-transform: uppercase
	+bold
	font-size: 11px
	letter-spacing: 2px 
	line-height: 1 
	text-align: center
	+transition(color .3s)
	+r(767)
		padding: 17px 20px 15px 
	&:hover
		color: #bec4c0 


.btn-action
	display: inline-block
	padding: 13px 37px 11px
	background: #3ca773
	border-radius: 34px
	color: #fff
	text-transform: uppercase
	+bold
	font-size: 10px
	letter-spacing: 2px 
	line-height: 1 
	+transition(background .3s)
	+r(767)
		padding: 17px 20px 15px 
	&:hover
		background: darken(#3ca773, 5%) 
	&_blue
		background: #2b77ee 
		&:hover
			background: darken(#2b77ee, 5%) 
	&_border
		background: none
		border: 1px solid
		color: #3c3d41
		+tr(color .3s)
		&:hover
			background: none
			color: #a6a6a6  
.btn-back
	display: inline-block
	position: relative
	border: 1px solid #ddd
	padding: 13px 27px 11px 44px
	background: #fff
	border-radius: 34px
	color: #3b3d40
	text-transform: uppercase
	+bold
	font-size: 10px
	letter-spacing: 2px 
	line-height: 1 
	+transition(border .3s)
	&:hover
		border-color: #aaa  
	i
		position: absolute
		left: 15px
		top: 50%
		margin-top: -10px
		font-size: 20px
		color: #838d8f 
.select
	position: relative
	text-align: left
	width: 200px
	display: inline-block
	vertical-align: top
	text-overflow: ellipsis
	select
		visibility: hidden
		position: absolute
		top: 0
	.select__text
		display: block
		height: 100%
		line-height: 45px
		padding: 0 40px 0 10px
		cursor: pointer
		+reg
		position: relative
		&:after
			content: ''
			width: 1px
			height: 30px
			position: absolute
			right: 40px
			top: 50%
			margin-top: -15px 
			background: #ced1d1 
	.icon
		position: absolute
		right: 10px
		top: 5px 
		font-size: 24px
		cursor: pointer    
	.select__list
		display: none
		width: 100%
		position: absolute
		margin-top: 3px
		z-index: 15 
		border-radius: 5px
		overflow: hidden
		border: 1px solid #ced1d1
		li
			background: #eee
			padding: 10px
			+tr(background .3s)
			+reg
			font-size: 20px 
			border-bottom: 1px solid #ced1d1 
			cursor: pointer
			&:hover
				background: #fff
			&:last-child
				border: none

.status-icon
	margin: -13px 0 23px 
	font-size: 48px
	color: #3ca773 
	