// footer.html
$footer-gray: #878887
.footer
	background-color: $dark
	padding: 35px 0
	.container
		+clr
	.title
		margin-bottom: 20px 
.footer__logo
	position: static
	margin-left: 0
	.logo__text
		display: inline-block
		vertical-align: top
		letter-spacing: 1px 
	.icon-logo
		font-size: 92px 
.footer__item
	+clr
	vertical-align: top
	position: relative
	&:after
		content: ''
		display: block
		position: absolute
		top: 0
		right: 0
		border-right: 1px solid #4d4f53 
		height: 200px 
		
		
	li
		padding: 5px 0 
		&:first-child
			padding-top: 0
		a i
			margin-right: 19px
			font-size: 16px 
	a,p
		color: $footer-gray
		+reg
	a
		font-size: 13px
		+transition(color .3s)
		&:hover
			color: #f7f7f7
.footer__item_copy
	p
		font-size: 13px 
.footer__item_brands
	li a
		display: block
		+bold
		color: #585a59
		
.created_by
	padding-left: 43px 
	position: relative
	a
		display: inline-block
		font-size: 11px 
		line-height: 1.3em 
		i
			position: absolute
			left: 0
			top: 2px
			font-size: 26px
		span
			border-bottom: 1px solid

.subscribe
	+clr
	font-size: 0
	position: relative
	margin-bottom: 35px 
	.subscribe__input, .subscribe__button
		height: 43px
		display: block
		+reg
	.subscribe__input
		background-color: #2f3030
		padding-left: 20px
		width: 100%
		+border-radius(5px)  
		color: #F7F7F7 
		letter-spacing: 2px 
	.subscribe__button
		background-color: #8bd393
		position: absolute
		width: 45px
		top: 0
		right: 0 
		+border-top-right-radius(5px)
		+border-bottom-right-radius(5px)
		i
			font-style: normal
			color: #fff 
			font-size: 25px  

.footer__item_soc
	padding-left: 20% 
	a
		+bold

.footer
	.row
		>div
			&:last-child
				.footer__item:after
					display: none