.header
	background: $dark 
	min-height: 140px
	// .logo
	// 	&:before,
	// 	&:after
	// 		content: ''
	// 		position: absolute
	// 		width: 2000px
	// 		height: 1px
	// 		top: 50%
	// 		margin-top: -1px
	// 		background-color: #4a4c4a 
	// 	&:before
	// 		left: -2000px
	// 	&:after
	// 		right: -2000px

.soc
	font-size: 0
	padding: 22px 0 26px 
	&__link
		display: inline-block
		vertical-align: middle
		margin-right: 3px
		width: 32px
		height: 32px
		text-align: center
		line-height: 30px
		border: 1px solid rgba(#fff, .12)
		border-radius: 50%
		+tr(border .3s)
		&:hover
			border-color: #fff 
			i
				color: #fff 
	i
		display: inline-block
		vertical-align: middle
		color: #d4d4d2
		+tr(color .3s) 
		font-size: 14px

.tel
	display: inline-block
	margin-top: 30px
	font-size: 14px
	color: #cfd5cb
	letter-spacing: 3px 
	+bold 
	+tr(color .3s)
	&:hover
		color: #fff 

.logo
	position: absolute
	left: 50%
	top: 0
	margin-left: -100px
	width: 200px
	height: 140px
	text-align: center
	+hide-text
	.icon-logo
		display: inline-block
		margin-top: 17px
		font-size: 150px
		color: #fff 
		line-height: .5
		
	&__text
		display: block
		font-size: 13px
		letter-spacing: 3px 
		+bold
		color: $green 

.btn-nav
	width: 25px
	height: 18px  
	position: relative
	margin-top: 16px 
	margin-left: 18px 
	background-color: transparent 
	border-top: 2px solid #fff
	border-bottom: 2px solid  #fff
	&:before
		content: ''
		display: block
		position: absolute
		width: 25px
		height: 2px 
		background-color: #FFF 
		top: 50%
		margin-top: -1px  

.cart
	+bold
	color: #cfd5cb 
	+tr(color .3s)
	font-size: 11px 
	margin-top: 20px 
	display: block
	&:hover
		color: #fff 
	.cart__title
		letter-spacing: 2px 
		margin: 0 14px 0 18px  
	.cart__info
		display: inline-block
		background-color: #87d18f
		padding: 2px 7px 1px
		font-size: 10px
		color: #303331  
		+border-radius(10px) 