[class^="icon-"], 
[class*=" icon-"]
	+icon
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale


.icon-logo:before
	content: "\e600"
.icon-logo-small:before
	content: "\e601"
.icon-qb:before
	content: "\e602"
.icon-soc-fb:before
	content: "\e603"
.icon-soc-ig:before
	content: "\e604"
.icon-soc-od:before
	content: "\e605"
.icon-soc-tw:before
	content: "\e606"
.icon-soc-vk:before
	content: "\e607"
.icon-cart:before
	content: "\e608"
.icon-soc-rss:before
	content: "\e609"
.icon-arr-l:before
	content: "\e60a"
.icon-arr-r:before
	content: "\e60b"
.icon-mail:before
	content: "\e60c"
.icon-search:before
	content: "\e60d"