.slider
	position: relative
	margin-bottom: 95px
	overflow: hidden
	opacity: 0
	visibility: hidden
	+tr(opacity .3s)
	+r(767)
		margin-bottom: 35px
		padding-bottom: 35px
	.container
		position: relative
	&.is-ready
		opacity: 1
		visibility: visible 
	.slick-slider
		position: relative
		z-index: 1
	.container
		+r(767)
			max-width: 100%
			padding: 0
			text-align: center
	&__item
		position: relative
		height: 545px
		+cover
		background-color: #fff 
		+r(767)
			background-image: none !important
			height: auto
	&__nav
		position: absolute
		z-index: 2
		top: 34px
		right: 0
		left: 0
		text-align: center
		font-size: 0
		+r(767)
			display: none
		li
			display: inline-block
			vertical-align: top
			margin: 0 30px
			&.is-active,
			&:hover
				&.is-green
					a
						border-color: $green  
				&.is-orange
					a
						border-color: $orange  
				&.is-yellow
					a
						border-color: $yellow  
				&.is-violet
					a
						border-color: $violet  
				&.is-blue
					a
						border-color: $blue 
			&.is-inactive
				a
					color: #ced4d0 
		a
			display: block
			position: relative
			padding: 3px 0 
			border-bottom: 3px solid transparent
			color: #262c28
			font-size: 18px
			+light 
			+tr(border .3s)
	&__info
		padding-top: 135px
		max-width: 80%
		margin: 0 auto 
		+r(767)
			padding-top: 65px
	&__meta
		font-size: 20px
		+reg
		color: #bac3bd 
		+r(767)
			font-size: 15px
	&__title
		margin: -4px 0 35px
		font-size: 48px
		line-height: 1
		+bold
		color: $green 
		+r(767)
			font-size: 36px
	&__text
		margin: 35px 0 45px 
		font-size: 18px
		color: #393939
		+light 
		+r(767)
			font-size: 14px
			margin-bottom: 35px
	&__img
		img
			width: 100%
			height: auto
.cat
	display: block
	width: 228px
	border-radius: 5px 
	+tr(box-shadow .3s)
	&:hover
		box-shadow: 0 5px 21px rgba(#000, 0.3)
	&__head
		position: relative
		height: 218px
		background: #f9f9f9 
		border-radius: 5px 5px 0 0
		img
			position: absolute
			bottom: 0
			left: 0
			width: 100%
	&__body
		height: 80px
		+vertical
		border-radius: 0 0 5px 5px
		background: #fff 
	&__in
		display: inline-block
		vertical-align: middle
		width: 100%
	title
		margin-bottom: 10px


.slider-cat
	margin: 55px -20px 0
	+r(1023)
		margin: 35px -15px
	.slick-list
		padding: 40px 0 
		+r(1023)
			padding-top: 40px !important	
			padding-bottom: 40px !important	
	.slick-dots
		bottom: -5px
	.cat
		margin: 0 auto
		
.promo
	margin: 45px -15px 100px
	height: 620px
	overflow: hidden
	+r(767)
		margin: 0 0 100px
		min-height: 238px
		height: auto
	&__item
		position: relative
		z-index: 2
		height: 620px
		+cover
		+r(767)
			min-height: 238px
			height: auto
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background: rgba(#3c3d41, .7)
	&__info
		position: absolute
		bottom: 0
		left: 0
		max-width: 465px
		padding: 0 0 60px 60px
		+r(767)
			padding: 18px 15px
	&__title
		font-size: 40px
		+ebold
		color: #fff
		line-height: 1.1
		+r(767)
			font-size: 21px
	.text
		color: #cfdfe2 
.btn-out
	display: inline-block
	position: relative
	border: 1px solid rgba(#fff,.6)
	padding: 10px 35px 9px 55px 
	line-height: 1
	font-size: 10px
	+bold
	color: #fff 
	text-transform: uppercase
	letter-spacing: 2px 
	+tr(border .3s)
	border-radius: 17px 
	&:hover
		border: 1px solid #fff
		.glyph
			color: #fff
	.glyph
		position: absolute
		left: 20px
		top: 50%
		+tr(color .3s)
		font-size: 16px
		color: #cfd5cb 
		+transform(translateY(-50%))
.promo-nav
	margin: 45px -15px 100px -25px
	padding: 50px 0 40px  
	height: 620px
	position: relative
	z-index: 2
	overflow: hidden
	border-radius: 0 5px 5px 0
	+r(767)
		margin: 25px 0 0
		height: auto
	&__top
		position: absolute
		left: 10px
		top: 0
		right: 0
		height: 50px
		line-height: 50px
		text-align: center
		background: #fff 
		border-bottom: 1px solid #eee
		+r(767)
			left: 0
	&__more
		position: absolute
		bottom: 0
		left: 10px
		right: 0
		padding: 0 7px 0 20px
		background: #fff
		font-size: 10px
		height: 40px
		+bold
		line-height: 40px
		text-align: left
		text-transform: uppercase
		color: #838c8e
		letter-spacing: 2px   
		+r(767)
			left: 0
		button
			float: right
			width: 32px
			height: 39px
			background: #fff
			&:hover
				i
					color: #838D8F 
			i
				vertical-align: middle
				font-size: 8px
				color: #ccc 
				+tr(color .3s)
.vertical
	position: absolute
	top: 50px
	bottom: 40px
	left: 0
	right: 0
	+r(767)
		position: static
	.slick-list
		padding-left: 10px
		+r(767)
			padding-left: 0
	.slick-slide
		background: #fff 
	.is-current
		position: relative
		background: #f9f9f9 
		&:before
			content: ""
			position: absolute
			top: 50%
			margin-top: -8px
			left: -10px
			+arr(10,16,#f9f9f9,l)
	&__slide
		position: relative
		padding: 23px 10px 0 70px
		font-size: 14px
		height: 106px
		border-bottom: 1px solid #eee
		color: #666d70 
		cursor: pointer
		+nosel

		.digit
			position: absolute
			top: 23px
			left: 20px
		span
			display: block
			font-size: 10px
			+bold
			color: #838c8e
			text-transform: uppercase
			letter-spacing: 1px  	

.digit
	position: absolute
	width: 32px
	height: 32px
	border-radius: 50%
	text-align: center
	line-height: 32px
	font-size: 13px
	font-style: normal
	color: #fff 
	